# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BinPackParameters: false
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
ColumnLimit: 120
Cpp11BracedListStyle: false
DerivePointerAlignment: true
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SortIncludes: false
SpaceAfterTemplateKeyword: true
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
SpacesInSquareBrackets: false
Standard: Auto
TabWidth: 4
UseTab: ForIndentation
...
